@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;

  font-weight: 900;
  background-color: #1eb2a6;
}

.container {
  max-width: 85%;
  margin: auto;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.flexSb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  color: #1eb2a6;
  transition: 0.5s;
}

.icon:hover {
  cursor: pointer;
  background-color: #1eb2a6;
  color: #fff;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

button {
  border: none;
}

.row {
  width: 50%;
}

button {
  padding: 17px 30px;
  background-color: #fff;
  color: #1eb2a6;
  font-weight: 600;
  border: none;
  margin: 30px 10px 0 0;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 24px 36px -11px rgba(0, 0, 0, 0.9);
}

button i {
  margin-left: 20px;
}

button:hover {
  box-shadow: none;
}

.primary-btn {
  background-color: #25cec0;
  color: #fff;
}

#heading {
  text-align: center;
  padding: 40px 0;
}

#heading h3 {
  font-size: x-large;
  font-weight: 900;
  letter-spacing: 1px;
  color: #51ebde;
  text-transform: uppercase;
}

#heading h1 {
  font-size: 45px;
  margin: 20px 0;
  text-transform: capitalize;
}

p {
  line-height: 30px;
  font-size: 18px;
}

.back {
  background-image: url("../public/image/about.jpg");
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  /* height: 100vh; */
  padding-top: 30px;
  padding-right: 50px;
  color: #fff;
  text-align: center;
  min-height: 60vh;
  /* controlled height */
  padding: 60px 0;
}

.back h1 {
  font-size: 100px;
  font-weight: 400;
}

back h2 {
  font-weight: 500;
  font-size: 17px;
  text-transform: uppercase;
}

.marigin {
  margin-top: 40.3%;
}

/* .aboutHome .left img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
.aboutHome {
  background-color: #1eb2a6;
  padding: 50px 0;
}
.aboutHome .left {
  width: 50%;
}

.aboutHome .left img {
  width: 208%;
    max-width: 574px;
  height: auto;
  object-fit: cover;
  display: block;
}
.aboutHome .container {
  display: flex;
  align-items: center;
  gap: 40px;
}
.aboutHome .right {
  width: 50%;
} */

.grid {
  display: grid;
  grid-template-columns: repeat();
  grid-gap: 30px;
}

.flex {
  display: flex;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.outline-btn {
  margin: 0;
  box-shadow: none;
  border: 2px solid #1eb2a6;
  width: 100%;
  transition: 0.05s;
}

.outline-btn:hover {
  background-color: #1eb2a6;
  color: #fff;
}

.grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.padding {
  padding: 80px 0;
}

.shadow {
  box-shadow: 0 5px 25px -2px rgba(0, 0, 0 /6%);
}

@media screen and (max-width:768px) {

  .grid3,
  .grid2,
  .grid {
    flex-wrap: wrap;
    gap: 15px;
    grid-template-columns: repeat(2 1fr);
  }

  .back {
    background-position: center;
    padding-top: 120px;
    height: auto;
  }

  .marigin {
    margin-top: 80%;
  }
}